# Data — never commit raw datasets
data/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

#vscode
.vscode/

